<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
<div th:replace="index :: common"> </div>

    <hr/>
    <span th:text="${furthest}">Text ...</span>
    <!--<button type="button" class="btn btn-default pull-right"><a th:href="@{(${furthest})}">Next</a></button>-->

    <p class="text-center">
        <strong>AFTERSALE</strong>
    </br>
        Pay me the money!!!
        <span class="glyphicon glyphicon-eur"></span>
    </p>
</div>
</body>
</html>