<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="index :: common"> </div>

    <hr/>
    <p class="text-center">
        The Basket Page
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </p>
</body>
</html>