<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
<div th:replace="index :: common"> </div>

<hr/>
<span th:text="${furthest}">Text ...</span>
    <!--<button type="button" class="btn btn-default pull-right"><a th:href="@{(${furthest})}">Next</a></button>-->
    <form>
        <button type="submit" class="btn btn-default pull-right"><a th:href="@{timeslot_submit}">Next</a></button>
    </form>
    <p class="text-center">
        The Timeslot Page
        <span class="glyphicon glyphicon-time"></span>
    </p>
</div>
</body>
</html>